body {
    padding: 0px;
    margin: 0px;
    border: 0px;
    background-color: #101828;
}

.content {
    display: flex;
    flex-direction: column;
}

/* header */

.content .header {
    background-color: #1E2939;
    display: flex;
    justify-content: space-between;
    color: white;
    line-height: 0px;
    padding: 20px;
}

.content .header button {
    font-weight: bolder;
    font-size: 2rem;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    border: none;
    color: white;
    background-color: rgba(0, 0, 0, 0.50);
    transition: 0.15s ease-in-out;
    cursor: pointer;
}

.content .header button:hover {
    background-color: rgba(255, 255, 255, 1.0);
    color: #101828;
}

/* body */

.content .sheet {
    margin: 20px;
    padding: 10px 20px;
    background-color: #1E2939;
    border-radius: 10px;
    color: white;
    font-size: 1.1rem;
    min-width: 700px;

}

.cell {
    display: grid;
    grid-template-columns: repeat(4, 2fr) 1fr;
    grid-template-rows: auto;
}

.cell div {
    min-width: fit-content;
    white-space: nowrap;
    border-bottom: 1px solid #CCC;
    border-right: 1px solid #CCC;
    padding: 0px 4px;
    
}

.cell .tittle {
    border-left: 1px solid #ccc;
}

.cell#first div {
    min-width: fit-content;
    white-space: nowrap;
    border-bottom: 1px solid #CCC;
    border-right: 1px solid #CCC;
    padding: 0px 4px;
    font-weight: bolder;
    font-size: 1.1rem;
    display: flex;
    justify-content: center;
}

.cell#first .is-read {
    color: white;
    background-color: rgba(0, 0, 0, 0);
}

.cell#first .tittle {
    border-left: none;
}

.cell#first .remove {
    border-right: none;
}

.cell .is-read {
    font-weight: bold;
    display: flex;
    justify-content: center;
    background-color: rgb(255, 0, 0);
    color: white;
    transition: 0.15s ease-in-out;
    cursor: pointer;
}

.cell#first .remove {
    background-color: rgba(0, 0, 0, 0);
}

.cell .remove {
    display: flex;
    color: black;
    background-color: rgba(255, 255, 255, 1.0);
    justify-content: center;
    transition: 0.15s ease-in-out;
    cursor: pointer;
    font-weight: bold;
}

.cell .remove:hover {
    background-color: #ff0000;
    color: white;
}

/* overlay */

.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    transition: 0.15 ease-in-out;
}

.popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    background-color: #2A3545;
    padding: 20px;
    border-radius: 20px;
    width: 300px;
}

.popup form {
    display: flex;
    flex-direction: column;
}

.popup form label {
    display: flex;
    flex-direction: column;
}

.popup form label#pageNumber {
    white-space: nowrap;
    flex-direction: row;
    gap: 5px;
}

.popup form label#pageNumber input {
    width: 20%;
}

.popup form label#read {
    flex-direction: row;
}